<form name="adminForm" ng-controller="AdminController as admin" ng-submit="adminForm.$valid && admin.submitGem()" novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" ng-model="admin.gem.name" type="text" name="name" required />
  </div>
  <div class="form-group">
    <label for="price">Price</label> 
    <input class="form-control" ng-model="admin.gem.price" type="number" name="price" required />
  </div>
  <div class="form-group">
    <label for="description">Description</label> 
    <textarea class="form-control" ng-model="admin.gem.description" name="description" required></textarea>
  </div>
  <div class="form-group">
    <label for="image">Upload an Image</label> 
    <input type="file" ng-file-select ng-model="files" name="image" accept="image/*">
  </div>
  <div class="checkbox">
    <label>
      <input class="form-inline" ng-model="admin.gem.canPurchase" name="can-purchase" type="checkbox">Can Purchase
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input class="form-inline" ng-model="admin.gem.soldOut" name="sold-out" type="checkbox">Sold Out
    </label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  <div> adminForm is {{ adminForm.$valid }} </div>
</form>
