<form name="loginForm" ng-submit="loginForm.$valid && loginCtrl.login()" novalidate>
	<div class="form-group">
		<label for="username">Username</label>
		<input class="form-control" ng-model="loginCtrl.user.username" type="text" name="username" required />
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input class="form-control" ng-model="loginCtrl.user.password" type="password" name="password" required />
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>