 <div class="list-group">
 	<div ng-hide="store.product.soldOut" ng-repeat="product in store.products" class="list-group-item">
 		<product-title></product-title>

 		<img ng-src="{{ product.images[0] }}" />
 		<button ng-show="product.canPurchase">Add to Cart</button>

 		<product-panels></product-panels>
 	</div>
 </div>