<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />

  <base href="/">
</head>
<body ng-controller="StoreController as store">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display --> 
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Gems</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="admin">Admin</a></li>
          <li><a href="login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div content="main" class="container">
    <div class="alert alert-danger" role="alert" ng-show="message">
      {{ message }}
    </div>

    <div ng-view></div>
  </div>

  <script type="text/javascript" src="js/vendor/angular.min.js"></script>
  <script type="text/javascript" src="js/vendor/angular-route.min.js"></script>
  <script type="text/javascript" src="js/vendor/angular-file-upload.min.js"></script>

  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/store.js"></script>
  <script type="text/javascript" src="js/products.js"></script>
  <script type="text/javascript" src="js/admin.js"></script>  
  <script type="text/javascript" src="js/login.js"></script>

  <script>
    angular.bootstrap(document, ['gemStoreApp']);
  </script>
</body>
</html>